//COLORS

//BG colors
$color-primary: #112950;
$color-secondary: #2e85ff;
$color-tertiary: #f5f8fb;

$color-white: #ffffff;



//Text colors

$color-black: #000000;
$color-primary-light-1: #112950;
$color-primary-light-2: #324b72;

$color-secondary-dark-1: #2174ea;
$color-secondary-dark-2: #2e85ff;
$color-secondary-light: #5c9fff;

$color-tertiary-dark: #7b8ba5;




//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FONT
$default-font-size: 1.6rem;
