//COLORS

//BG colors
$color-primary-light: #ff6276;
$color-primary-dark: #ff4c5d;
$color-primary-dark-1: #CB4152;

$color-secondary: #3b5998;
$color-secondary-light: #1da1f2;
$color-secondary-dark: #0077b5;


$color-grey-light-1: #f2f3f6;
$color-white: #ffffff;



//Text colors

// $color-grey-light-2: #eee;

$color-grey-dark: #4d4d4d;
$color-grey-dark-2: #818a91;
$color-grey-dark-3: #8c969f;

$color-tertiary: #313656;
$color-primary: #ff6276;
$color-secondary-text: #0088cc;

$color-black: #000000;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FONT
$default-font-size: 1.6rem;