*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: $default-font-size;
  color: $color-primary-light-2 !important;
  background-color: $color-white;
}

$default-font-size : 1.6rem;