{% extends 'covid19App/base.html' %}

{% block title %}COVID19{% endblock title%}

{% block scripts %}
<!-- <script>
  $(document).ready(function () {
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [{% for item in qs %}'{{item.country}}', {% endfor %}],
        datasets: [{
          label: '2019',
          data: [{% for item in qs %}'{{item.gdp}}', {% endfor %}],
          backgroundColor: [
            'rgba(255, 99, 132, 0.9)',
            'rgba(54, 162, 235, 0.9)',
            'rgba(255, 206, 86, 0.9)',
            'rgba(75, 192, 192, 0.9)',
            'rgba(153, 102, 255, 0.9)',
            'rgba(255, 159, 64, 0.9)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  })
</script> -->

<script>
  Chart.defaults.global.defaultFontStyle = 'bolder';
  Chart.defaults.global.defaultFontSize = 16;
  Chart.Legend.prototype.afterFit = function() {
    this.height = this.height + 30;
  };


  var ctx = document.getElementById("myChart").getContext('2d');

var original = Chart.defaults.global.legend.onClick;
Chart.defaults.global.legend.onClick = function(e, legendItem) {
  update_caption(legendItem);
  original.call(this, e, legendItem);
};

var myChart = new Chart(ctx, {
  type: 'bar',
  data: {

    labels: [{% for item in qs %}'{{item.country}}', {% endfor %}],

    datasets: [{
      label: '2019',
      backgroundColor: "rgba(255, 99, 132, 0.9)",
      borderColor: "rgba(255, 99, 132, 1)",
      borderWidth: 1,
      data: [{% for item in qs %}'{{item.gdp}}', {% endfor %}],
    }, {
      label: '2020',
      backgroundColor: "rgba(255, 206, 86, 0.9)",
      borderColor: "rgba(255, 206, 86, 1)",
      borderWidth: 1,
      data: [{% for item in economy20_qs %}'{{item.gdp20}}', {% endfor %}],
    }, {
      label: '2021',
      backgroundColor: "rgba(75, 192, 192, 0.9)",
      borderColor: "rgba(75, 192, 192, 1)",
      borderWidth: 1,
      data: [{% for item in economy21_qs %}'{{item.gdp21}}', {% endfor %}],}
    ]

  },
  options: {
     responsive: true,
     legend: {
       position: 'top',
        labels: {
          fontSize: 16,
        }
     },
     hover: {
       mode: 'label'
     },
     scales: {
       xAxes: [{
         display: true,
         scaleLabel: {
           display: false,
           labelString: ''
         },
         gridLines: {
           display: false
         }
       }],
       yAxes: [{
         display: true,
         scaleLabel: {
           display: true,
           labelString: 'GDP in %percentage'
         },
         ticks: {

         },
         gridLines: {
           display: true
         }
       }]
     }
   }
});

var labels = {
  "2019": true,
  "2020": true,
  "2021": true,
};

var caption = document.getElementById("caption");

var update_caption = function(legend) {
  labels[legend.text] = legend.hidden;

  var selected = Object.keys(labels).filter(function(key) {
    return labels[key];
  });

  var text = selected.length ? selected.join(" & ") : "nothing";

  caption.innerHTML = "The chart is displaying GDP in percentage of " + text;
};
</script>
<script>
  var ctx = document.getElementById("unemploymentChart").getContext('2d');

// var original = Chart.defaults.global.legend.onClick;
// Chart.defaults.global.legend.onClick = function(e, legendItem) {
//   update_caption(legendItem);
//   original.call(this, e, legendItem);
// };

var unemploymentChart = new Chart(ctx, {
  type: 'bar',
  data: {

    labels: [{% for item in unemploy10_qs %}'{{item.country10}}', {% endfor %}],

    datasets: [{
      label: '2018',
      backgroundColor: "rgb(255, 99, 132, 0.9)",
      borderColor: "rgba(255, 99, 132, 1)",
      borderWidth: 1,
      data: [{% for item in unemploy18_qs %}'{{item.rate}}', {% endfor %}],
    }, {
      label: '2019',
      backgroundColor: "rgba(255, 206, 86, 0.9)",
      borderColor: "rgba(255, 206, 86, 1)",
      borderWidth: 1,
      data: [{% for item in unemploy19_qs %}'{{item.rate}}', {% endfor %}],
    }, {
      label: '2020',
      backgroundColor: "rgba(75, 192, 192, 0.9)",
      borderColor: "rgba(75, 192, 192, 1)",
      borderWidth: 1,
      data: [{% for item in unemploy20_qs %}'{{item.rate}}', {% endfor %}],
    }]

  },

  options: {
     responsive: true,
     legend: {
       position: 'top',
     },
     hover: {
       mode: 'label'
     },
     scales: {
       xAxes: [{
         display: true,
         scaleLabel: {
           display: false,
           labelString: ''
         },
         ticks: {
         },
         gridLines: {
           display: false
         }
       }],
       yAxes: [{
         display: true,
         scaleLabel: {
           display: true,
           labelString: 'Rate of Unemployment'
         },
         ticks: {

         },
         gridLines: {
           display: true
         }
       }]
     }
   }
});

var labels = {
  "2018": true,
  "2019": true,
  "2020": true,
};

var caption02 = document.getElementById("caption02");

var update_caption = function(legend) {
  labels[legend.text] = legend.hidden;

  var selected = Object.keys(labels).filter(function(key) {
    return labels[key];
  });

  var text = selected.length ? selected.join(" & ") : "nothing";

  caption02.innerHTML = "The chart is displaying GDP in percentage of " + text;
};
</script>

{% endblock scripts %}

{% block content %}

<section class="section-gdp u-padding-top-huge">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="heading-secondary--main text-center">Impact of COVID-19 on the global economy</h2>
        <p class="heading-secondary--sub text-center">Between April and June 2020, the International Labour
          Organization assessed that a likeness of 400 million everyday positions was lost across the
          world, and pay procured by laborers worldwide fell 10% in the initial nine months of 2020,
          comparable to a deficiency of over US$3.5 trillion.</p>
        <canvas class="pt-5" id="myChart" width="400" height="180"></canvas>
        
        <p class="text-center" id="caption">The chart is displaying GDP in percentage of 2019, 2020 and 2021.</p>
        
        <p class="text-center">Source: <a href="https://www.imf.org/en/Publications/WEO/Issues/2021/01/26/2021-world-economic-outlook-update">World Economic Outlook(WEO)</a></p>
      </div>
    </div>
  </div>
</section>

<section class="section-employment u-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="heading-secondary--main text-center">Impact on the unemployment rate</h2>
        <p class="heading-secondary--sub text-center">Racial and ethnic minorities had relatively high unemployment rates in April (16.7% for Black
          workers compared to 14.2% for White workers, and 18.9% for Hispanic workers compared to
          13.6% for non-Hispanic workers) in 2020.</p>
        <canvas class="pt-5" id="unemploymentChart" width="400" height="180"></canvas>
        
        <p class="text-center" id="caption02">The chart is displaying GDP in percentage of 2019, 2020 and 2021.</p>
        <p class="text-center">Source: <a href="https://ilostat.ilo.org/data/">International Labour Organization(ILO)</a></p>
      </div>
    </div>
  </div>
</section>

{% endblock content %}