{% extends 'covid19App/base.html' %}

{% block title %}COVID19{% endblock title%}

{% block scripts %}
<!-- <script>
  $(document).ready(function () {
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [{% for item in qs %}'{{item.country}}', {% endfor %}],
        datasets: [{
          label: '2019',
          data: [{% for item in qs %}'{{item.gdp}}', {% endfor %}],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  })
</script>-->

<script>
  var ctx = document.getElementById("eduChart").getContext('2d');

var original = Chart.defaults.global.legend.onClick;
Chart.defaults.global.legend.onClick = function(e, legendItem) {
  update_caption(legendItem);
  original.call(this, e, legendItem);
};

var eduChart = new Chart(ctx, {
  type: 'bar',
  data: {

    labels: [{% for item in educationFeb_qs %}'{{item.country}}', {% endfor %}],

    datasets: [{
      label: 'February',
      backgroundColor: "rgba(255, 99, 132, 0.2)",
      borderColor: "rgba(255, 99, 132, .3)",
      borderWidth: 1,
      data: [{% for item in educationFeb_qs %}'{{item.status}}', {% endfor %}],
    }, {
      label: 'March',
      backgroundColor: "rgba(255, 206, 86, 0.3)",
      borderColor: "rgba(255, 206, 86, .5)",
      borderWidth: 1,
      data: [{% for item in educationMar_qs %}'{{item.status}}', {% endfor %}],
    }, {
      label: 'April',
      backgroundColor: "rgba(75, 192, 192, 0.3)",
      borderColor: "rgba(75, 192, 192, .5)",
      borderWidth: 1,
      data: [{% for item in educationApr_qs %}'{{item.status}}', {% endfor %}],}
    ]

  },

  options: {
     responsive: true,
     legend: {
       position: 'bottom',
     },
     hover: {
       mode: 'label'
     },
     scales: {
       xAxes: [{
         display: true,
         scaleLabel: {
           display: false,
           labelString: ''
         }
       }],
       yAxes: [{
         display: true,
         scaleLabel: {
           display: false,
           labelString: ''
         },
         ticks: {
           min: 0,
           max: 4,
           stepSize: 1,
           suggestedMin: 0.5,
           suggestedMax: 5.5,
           callback: function(label, index, labels) {
             switch (label) {
               case 0:
                 return '';
               case 1:
                 return 'Fully Open';
               case 2:
                 return 'Partially Open';
               case 3:
                 return 'Closed';
               case 4:
                 return 'Academic Break';
             }
           }
         },
         gridLines: {
           display: false
         }
       }]
     }
   }
  
});

var labels = {
  "February": true,
  "March": true,
  "April": true,
};

var caption = document.getElementById("educaption");

var update_caption = function(legend) {
  labels[legend.text] = legend.hidden;

  var selected = Object.keys(labels).filter(function(key) {
    return labels[key];
  });

  var text = selected.length ? selected.join(" and ") : "nothing";

  caption.innerHTML = "The chart is displaying status of educational institution in 2019 of " + text;
};
</script>

{% endblock scripts %}

{% block content %}

<h1>IMPACT on Education</h1>
<canvas id="eduChart" width="400" height="180"></canvas>

<br>
<p id="educaption">The chart is displaying status of educational institution in 2019 of February, March and April.</p>
{% endblock content %}