{% extends 'covid19App/base.html' %}

{% block title %}COVID19{% endblock title%}

{% block content %}

<div class="container-fluid">

    <!-- BANNER -->
    <section class=" section-banner">
        <div class="row">
            <div class="col-md-6 section-banner__text">
                <h3 class="heading-primary">corona virus</h3>
                <h1 class="heading-primary--main">covid-<span>19</span> </h1>
                <p class="heading-primary--sub pt-1">Find Out How CoronaVirus Is Claiming Thousands of Lives & What You
                    Can
                    Do To
                    Stay Safe</p>
                <div class="btn btn--square pt-5 mt-3">Stay Home, Stay Safe</div>
            </div>
        </div>
    </section>

    <!-- TRACKER -->
    <section class="section-tracker  u-margin-top-medium">
        <div class="row">
            <div class="col-md-12 text-center">
                <br>
                <h1 class="heading-secondary--main">TRACK THE SPREAD OF COVID-19</h1>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="card card--1 col-md-4">
                <div class="card-body text-center">
                    <h4 class="card-title">New Confirmed</h4>
                    <p class="card-text">{{globalSummary.NewConfirmed}}</p>
                </div>
            </div>
            <div class="card card--2 col-md-4">
                <div class="card-body">
                    <h4 class="card-title">New Deaths</h4>
                    <p class="card-text">{{globalSummary.NewDeaths}}</p>
                </div>
            </div>
            <div class="card card--3 col-md-4">
                <div class="card-body">
                    <h4 class="card-title">Total Deaths</h4>
                    <p class="card-text">{{globalSummary.TotalDeaths}}</p>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="card card--4 col-md-6">
                <div class="card-body">
                    <h4 class="card-title">New Recovered</h4>
                    <p class="card-text">{{globalSummary.NewRecovered}}</p>
                </div>
            </div>
            <div class="card card--5 col-md-6">
                <div class="card-body">
                    <h4 class="card-title">Total Recovered</h4>
                    <p class="card-text">{{globalSummary.TotalRecovered}}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <br>
                <p>Source: <a href="https://documenter.getpostman.com/view/10808728/SzS8rjbc">https://documenter.getpostman.com/view/10808728/SzS8rjbc</a> </p>
            </div>
        </div>
    </section>

    <section class="">
        <div class="row mt-5">
            <div class="col-md-12"></div>
        </div>
    </section>


    <!-- <h4 class="border rounded p-3">
        <div class="display-8">
            Country Wise Summary
        </div>
    </h4>
    <table class="table">
        <thead>
            <tr>
                <th>Sno.</th>
                <th>Country</th>
                <th>Total Confirmed</th>
                <th>Total Deaths</th>
                <th>Total Recovered</th>
            </tr>
        </thead>
        <tbody>
            {% for c in countries %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{c.Country}}</td>
                <td>{{c.TotalConfirmed}}</td>
                <td>{{c.TotalDeaths}}</td>
                <td>{{c.TotalRecovered}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table> -->

</div>
{% endblock content %}